html,body{
    width: 100%;
    height:100%;
    margin:0;
    padding:0;
}
nav{
    font-size: 12px;
    padding-top: 14px;
}
header{
    position: sticky;
    top: 0;
    background: white;
    height:66px;
    box-shadow: rgba(0,0,0,0.15) 1.95px 1.95px 2.6px;
}
.left img{
    width: 72px;
    height: 52px;
    


}
.container{
    padding:0 10vw;

}
.containerHeader{
    padding:0 10vw;
  

}
nav ul li{
    list-style: none;
    padding: 0 12px;
}
.uppercase{
    text-transform: uppercase;
    font-weight: bolder;
}
.section1{
    background: #f2f2f2;
   
}
.search{
    width: 28vw;
    padding: 7px 17px;
    border: 0.5px solid grey;
    background: #f7f8fd;
    border-radius: 5px;
}
.homeimg{
    width: 80vw;
    
/* justify-content: center; */
}
.homeimg2{
    width: 12vw;
   margin: 6px 7px 6px 6px;
   border-radius: 20px;
   
    
/* justify-content: center; */
}
 /*  */
.rightbox{
    display: flex;
    font-weight: bolder;
}

footer{
    padding: 23px;
    text-align: center;
    box-shadow: Igb(0 0 0 / 24%) 0px 3px 8px ;
    font-style:normal;

}

@media (max-width: 1024px)
{
    header{
        height:122px;

    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    .right{
        flex-direction: column;
    }
    .rightbox{
        display: flex;
        margin: 12px;
        /* font-size: smaller; */
    }
    nav ul li{
        list-style: none;
        padding: 0 4px;
        font-size: 10px;
        
    }
    .homeimg2{
        margin-left: 60px;
    }
   
    .containerHeader{
        padding: 0 1vw;
    }
    /* .homeimg{
        
       /* margin-right: 7px; */
        /* justify-content: center; */
        /* align-items: center; */
    }
    @media (max-width: 768px) 
    {
        .homeimg2{
            margin-left: 40px;
        }
    }

    @media (max-width: 425px)
    {
        .containerHeader{
            padding: 0 1vw;
        }
        .rightbox{
            padding: 0 0.5vw;
        }
    }
    @media (max-width: 375px){
        .containerHeader{
        padding-bottom:  0 1vw;
        }
    }

 